.navbar {
  background-color: #144371;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
    background-color:darkblue;
}

.login-btn {
  background-color: rgb(15, 15, 45);
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
}
